.schudle-block__item{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.schudle-block__inner_item{
    display: flex;
    align-items: center;
    height: 5.5rem;
    background: #fff;
    -webkit-box-shadow: 0px 0px 7px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 0px 7px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 0px 7px 0px rgba(34, 60, 80, 0.2);
    border-radius: 0.8rem;
    padding: 1rem;
    
}
.schudle-block__item_peremena{
    display: flex;
    align-items: center;
    svg{
        width: 2.2rem;
        height: 2.2rem;
        path{
            fill: #9FA3A7;
        }
    }
    .peremena-item{
        color: #9FA3A7;
        font-size: 1.4rem;
    }
}