.urok-detail{
    background: #fff;
    padding: 2rem;
    height: 100%;
    &__title{
        width: 100%;
        display: flex;
        align-items: center;    
        justify-content: space-between;
        p{
            font-size: 3rem;
            font-weight: 700;
        }
    }
    .table-header p{
        padding: 0 2rem;
        font-size: 1.4rem;
    }
}
.urok-detail-main{
    height: calc(100% - 12rem);
    .block-widget__header{
        padding: 0;
        margin: 3rem 0;
    }
}
.urok-detail-footer{
    display: flex;
    justify-content: flex-end;
    gap: 3rem;
}
.cell-fio{
    flex: 2;
}
.cell-score{
    flex: 1;
    max-width: 9rem;
    padding: 0 !important;
    justify-content: center;
}
.cell-comment{
    flex: 2;
    padding: 0 !important;
}
.tabs{
    height: 100%;
    &__content{
        height: 100%;
    }
    .table-item, .block-widget__footer{
        height: 100%;
    }
    .table{
        height: calc(100% - 10rem);
        overflow: hidden;
        overflow-y: auto;
    }
}
