.urok-detail{
    background: #F2F2F2;
    display: grid;
    padding: 0;
    grid-template-rows: 1fr 6fr;
    gap: 2rem;
    height: 100%;
    &__title{
        width: 100%;
        display: flex;    
        justify-content: space-between;
        background: #fff;
        border-radius: 0.8rem;
        flex-direction: column;
        align-items: flex-start;
        gap: 0.2rem;
        padding: 2rem;
        position: relative;
    }
    .table-header p{
        padding: 0 2rem;
        font-size: 1.4rem;
    }
    &__date{
        font-size: 2rem;
        display: flex;
        color: #333;
        opacity: .8;
        font-weight: 700;
        align-items: flex-end;
        gap: 0.8rem;
        margin-bottom: 1rem;
        span{
            font-size: 2rem;
            color: #333;
            text-transform: capitalize;
        }
    }
    &__text{
        font-size: 1.8rem;
        display: flex;
        color: #000;
    }
    &__text{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        svg{
            min-width: 2.4rem;
            width: 2.4rem;
            cursor: pointer;
        }
    }
}
.urok-detail-main{
    height: calc(100% - 12rem);
    .block-widget__header{
        padding: 0;
        margin: 3rem 0;
    }
}
.urok-detail-footer{
    display: flex;
    justify-content: flex-end;
    gap: 3rem;
}
.cell-fio{
    flex: 2;
}
.cell-score{
    flex: 1;
    max-width: 9rem;
    padding: 0 !important;
    justify-content: center;
}
.cell-comment{
    flex: 2;
    padding: 0 !important;
}
.tabs{
    height: 100%;
    &__content{
        height: 100%;
    }
    .table-item, .block-widget__footer{
        height: 100%;
    }
    .table{
        height: calc(100% - 10rem);
        overflow: hidden;
        overflow-y: auto;
    }
}
