.block-widget{
    background: #fff;
    border-radius: 0.8rem;
    min-width: 45rem;
    flex: 1;
    &__header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 3.8rem;
        padding: 0 2rem;
        margin: 1rem 0 0rem;
        &_right{
            display: flex;
            gap: 1rem;
        }
    }
    &__items{
        margin-top: 1rem;
        max-height: 51rem;
        overflow: hidden;
        overflow-y: auto;
        padding: 1rem 2rem 2rem;
    }
}
.schudle-block-teacher{
    .block-widget__header{
        justify-content: flex-start;
        gap: 2rem;
    }
}