.infourok-main{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 1rem;
    &-item{
        background: #fff;
        padding: 2rem;
        border-radius: 0.8rem;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        &__title{
            font-size: 2rem;
            font-weight: 600;
            color: #333;
        }
        button{
            width: 100%;
            background: transparent;
            border: 1px solid var(--lightBlue);
            color: var(--lightBlue);
            font-weight: 700;
            font-size: 1.8rem;
        }
    }
    &-box{
        height: 100%;
        display: flex;
        flex-direction: column;
        &__title{
            font-size: 1.8rem;
            color: #BFC0C1;
        }
    }
}
.info-urok__close{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    gap: .8rem;
    button{
        width: 20rem;
        height: 5rem;
        font-size: 2rem;
        font-weight: 400;
    }
}

.homework-items{
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.homework-item{
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, .1);
}
.homework-item-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__title{
        font-size: 18px;
    }
}
.homework-item-header-funct{
    display: flex;
    align-items: center;
    gap: 8px;
    & > div{
        width: 2.4rem;
        cursor: pointer;
    }
}
.homework-item-main{
    display: flex;
    flex-direction: column;
    gap: 8px;
    &__text, &__info{
        font-size: 14px;
        span{
            font-size: 14px;
            font-weight: 600;
        }
    }
}