@import '../../style/_color.scss';

.main{
    box-sizing: border-box;
    flex: 1 1;
    overflow: unset;
    display: flex;
    flex-direction: column;
    background: #F2F2F2;
    height: calc(100vh - 8rem);
    margin: 8rem 2rem 0;
    border-radius: 0.8rem;
}
.block-widget{
    background: #fff;
    border-radius: 0.8rem;
    padding: 2rem;
    &__header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 3.8rem;
        &_right{
            display: flex;
            gap: 1rem;
        }
    }
    &__items{
        margin-top: 1.5rem;
    }
}