.form{
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    margin: 0;
}
.form-row{
    display: flex;
    gap: 0.8rem;
}

.grade-box{
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}
.grade-text{
    font-size: 1.6rem;
    color: #464F60;
}