@import '/src/style/_color.scss';

.schudle-block{
    &__lesson{
        display: flex;
        flex-direction: column;
        gap: 0.3rem;
        &_count{
            font-size: 1.2rem;
            color: #9FA3A7;
        }
    }
    &__time{
    display: flex;
    font-size: 1.4rem;
    gap: 0.3rem;
        p{
            font-size: 1.4rem;
        }
    }
    
}