.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 3.8rem;
    border-radius: 0.8rem;
    color: #fff;
    outline: none;
    border: none;
    width: fit-content;
    padding: 0 1rem;
    font-size: 1.4rem;
    cursor: pointer;
    min-width: 8.5rem;
    transition: all 0.7s;
    &:hover{
        box-shadow: 0px 0px 7px 0px rgba(34, 60, 80, 0.2);
    }
    &-orange{
        background: var(--orange);
    }
    &-blue{
        background: var(--blue);
        color: #fff;
    }
    &-gray{
        background-color: var(--gray);
        color: var(--dark);
    }
    &-red{
        background: var(--red);
    }
    &-green{
        background: var(--green);
    }
    &-disabled{
        background: var(--lightGray);
        pointer-events: none;
        color: #000;
    }

    &-big{
        width: 15rem;
        height: 5rem;
        font-size: 1.6rem;
    }
    
}