.schudle-block{
    min-width: 40rem;
    flex: 0;
    &__items{
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
}

@media (max-width: 1150px){
    .schudle-block{
        flex: 1;
    }
}