@import '../../style/_color.scss';

.header{
    position: fixed;
    z-index: 899;
    top: 0px;
    right: 0px;
    left: 240px;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    height: 60px;
    background: $lightGray;
}