@import './_color.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Regular';
    font-size: 10px;
    scrollbar-width: thin;
    scrollbar-color: #2E5FFF #DFE9EB;
}
*::-webkit-scrollbar {
    width: 7px;
    width: 7px;
}
*::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: #DFE9EB;
}
*::-webkit-scrollbar-track:hover {
    background-color: #DFE9EB;
}
*::-webkit-scrollbar-track:active {
    background-color: #DFE9EB;
}
*::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #2E5FFF;
}
*::-webkit-scrollbar-thumb:hover {
    background-color: #7788FC;
}
*::-webkit-scrollbar-thumb:active {
    background-color: #7788FC;
}

a {
    text-decoration: none;
}

svg {
    width: initial;
    height: initial;
    display: block;
}

.reactRoot {
    min-height: 100vh;
    height: auto !important;
    position: relative;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    background: #F2F2F2;
}

.row {
    margin: 0 0 2rem 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2rem;

    &__item {
        width: calc(33% - 1rem);
    }
}