.table {
    width: 100%;
    display: flex;
    flex-direction: column;
    background: var(--lightGray);
    gap: .2rem;
}


.journal-predmet{
    flex: 2;
}
.journal-houmwork{
    flex: 3;
}
.journal-score{
    width: 9rem;
    justify-content: center;
}
.journal-comment{
    flex: 3;
}
.journal-number{
    width: 5.4rem;
}


.table-date{
    background: var(--red);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6rem;
    height: inherit;
    border-radius: 0.8rem 0 0 0.8rem;
    padding: 2rem 0;
    h2{
        text-transform: uppercase;
        writing-mode: tb-rl;
        span{
            font-weight: 700;
            font-size: 2rem;
        }
    }
}
.table-item{
    display: flex;
}